#talent-calculator {
  margin-top: 70px;
}
#talent-calculator #class-row {
  display: inline;
}
#talent-calculator #class-row .class-icon {
  float: left;
  text-align: center;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
#talent-calculator #class-row .class-icon img {
  width: 100px;
}
#talent-calculator .highlight-line {
  border-bottom: 2px solid;
}
#talent-calculator #talents-select #specifications {
  margin-top: 20px;
}
#talent-calculator #talents-select #specifications #spec-inner {
  display: table;
  margin: 0 auto;
}
#talent-calculator #talents-select #specifications #spec-inner .specification-pane {
  background-repeat: no-repeat;
  background-size: 200px 400px;
  width: 200px;
  height: 400px;
  float: left;
}
#talent-calculator #talents-select #specifications #spec-inner .specification-pane table {
  margin-top: 10px;
  text-align: center;
}
#talent-calculator #talents-select #specifications #spec-inner .specification-pane table td {
  width: 50px;
  height: 50px;
}
#talent-calculator #talents-select #specifications #spec-inner .specification-pane table td div.talent-icon {
  width: 100%;
  height: 100%;
  background-size: 36px !important;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#talent-calculator #talents-select #specifications #spec-inner .specification-pane table td div.talent-icon img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 36px;
  height: 36px;
  left: 4px;
  top: 4px;
}
#talent-calculator #talents-select #talent-hover-dialog {
  position: absolute;
  transition: all linear 0.3s;
  height: 100px;
  width: 300px;
  background-color: black;
  color: white;
}
#talent-calculator #talents-select #talent-hover-dialog.ng-hide {
  opacity: 0;
}
