#talent-calculator {
    margin-top: 70px;

    #class-row {

        .class-icon {
            text-align: center;

            img {
                width: 70px;
            }
        }
    }

    .highlight-line {
        border-bottom: 2px solid;
    }

    #talents-select {
        #specifications {
            margin-top: 20px;

            #spec-inner {
                display: table;
                margin: 0 auto;

                .specification-pane {
                    background-repeat: no-repeat;
                    background-size: 200px 400px;
                    width: 200px;
                    height: 400px;
                    float: left;

                    table {
                        margin-top: 10px;
                        text-align: center;

                        td {
                            width: 50px;
                            height: 50px;

                            div.talent-icon-border {
                                width: 40px;
                                height: 40px;
                                background: #333;
                                border: 1px #17FD17 solid;
                                border-radius: 4px;
                                margin: 0 auto;
                            }

                            div.talent-icon-border.inactive {
                                -webkit-filter: grayscale(100%);
                                filter: grayscale(100%);
                                border: 1px #333 solid;
                            }

                            div.talent-icon {
                                position: absolute;
                                width: 36px;
                                height: 36px;
                                background-size: 36px !important;
                                margin: 1px 0px 0px 1px;
                                border-radius: 4px;
                                -webkit-filter: inherit;
                                filter: inherit;
                            }

                            div.talent-rank-no {
                                display: none;
                                color: #17FD17;
                                z-index: 10;
                                position: relative;
                                left: 30px;
                                top: 30px;
                                background: #333;
                                height: 15px;
                                width: 12px;
                                border-radius: 4px;
                                font-size: 10px;
                                border: 1px #987C08 solid;
                            }
                        }
                    }
                }
            }
        }

        #talent-tooltip.fade-out {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s linear 300ms, opacity 300ms;
        }

        #talent-tooltip.fade-in {
            visibility: visible;
            opacity: 0.9;
            transition: visibility 0s linear 0s, opacity 300ms;
        }

        #talent-tooltip {
            position: absolute;
            z-index: 100;
            width: 320px;
            font-family: Verdana,sans-serif;
            font-size: 12px;
            line-height: 20px;
            color: white;
            background: black;
            opacity: 0.9;
            border-radius: 4px;
            border: 1px white solid;
            padding: 5px;

            .yellow-detail {
                color: #FFD100;
                line-height: 16px;
            }

            .title-row {
                font-size: 15px;
            }

            .next-rank-text {
                margin-top: 20px;
            }

            .rank-instruction.can-learn {
                color: #17FD17;
            }

            .rank-instruction.can-unlearn {
                color: #FF4040
            }

            .rank-requirements {
                color: #FF4040;
            }
        }
    }
}
