#talent-calculator {
    margin-top: 70px;
}

#class-row {
    display: inline;
}

    #class-row .class-icon {
        float: left;
        text-align: center;
        width: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

        #class-row .class-icon img {
            width: 100px;
        }

.highlight-line {
    border-bottom: 2px solid;
}

#specifications {
    margin-top: 20px;
}

    #specifications #spec-inner {
        display: table;
        margin: 0 auto;
    }

        #specifications #spec-inner .specification-pane {
            background-repeat: no-repeat;
            background-size: 200px 400px;
            width: 200px;
            height: 400px;
            float: left;
        }

        #specifications #spec-inner .specification-pane table td {
            width: 50px;
            height: 50px;
            color: white;
            text-align: center;
        }