html {
  position: relative;
  min-height: 100%;
}
html body {
  margin-bottom: 60px;
}
html body .thin-text {
  font-weight: 300;
}
html body #news-page {
  padding-top: 15px;
  padding-bottom: 15px;
}
html body #news-page #main-news-container .example {
  height: 400px;
  background: #CCC;
}
html body #news-page #main-news-container #news-story-container {
  margin-top: 15px;
}
html body #news-page #main-news-container #news-story-container .news-story-item {
  margin-bottom: 15px;
}
html body #news-page #main-news-container #news-story-container .news-story-item .author-details {
  padding-top: 10px;
}
html body #news-page #main-news-container #news-story-container .news-story-item .author-details .author-avatar img {
  width: 55px;
  border-radius: 50%;
}
html body #news-page #main-news-container #news-story-container .news-story-item .story-content {
  margin-top: 10px;
}
html body #news-page #main-news-container #news-story-container .news-story-item .story-content .btn a {
  color: white;
}
html body #news-page #main-news-container #news-story-container .news-story-item .story-content .btn a:hover {
  text-decoration: none;
}
html body #news-page #main-news-container #news-pagination {
  margin-top: 15px;
  display: inline-flex;
}
html body #news-page #main-news-container #news-pagination .news-page-no {
  width: 26px;
  text-align: center;
  height: 26px;
  margin-left: 10px;
  border: 1px solid;
  line-height: 23px;
  border-radius: 13px;
}
html body #news-page #main-news-container #news-pagination .news-page-no a {
  color: black;
  display: inline-block;
  width: 100%;
}
html body #news-page #main-news-container #news-pagination .news-page-no a:hover {
  text-decoration: none;
}
html body #news-page #main-news-container #news-pagination .news-page-no:hover {
  background: #CCC;
}
html body #news-page #main-news-container #news-pagination .news-page-no.active-page {
  background: #343A40 !important;
}
html body #news-page #main-news-container #news-pagination .news-page-no.active-page a {
  color: white !important;
}
html body #view-story-page #story-title {
  margin-top: 15px;
  margin-bottom: 10px;
}
html body #view-story-page #story-top-section {
  margin-top: 15px;
  margin-bottom: 15px;
}
html body #view-story-page #story-mid-section {
  padding-bottom: 30px;
}
html body #view-story-page #author-details-panel .author-avatar img {
  width: 80px;
  border-radius: 40px;
  margin-top: 15px;
}
html body #view-story-page #author-details-panel .author-details {
  margin-top: 10px;
}
html body #talent-calculator {
  padding-bottom: 15px;
}
html body #talent-calculator #class-select #class-row .class-icon {
  text-align: center;
  position: relative;
  z-index: 1;
  background: transparent;
}
html body #talent-calculator #class-select #class-row .class-icon img {
  width: 70px;
}
html body #talent-calculator #class-select #class-row .class-icon.druid-bg.selected {
  background: #FF7D0A;
}
html body #talent-calculator #class-select #class-row .class-icon.hunter-bg.selected {
  background: #ABD473;
}
html body #talent-calculator #class-select #class-row .class-icon.mage-bg.selected {
  background: #69CCF0;
}
html body #talent-calculator #class-select #class-row .class-icon.paladin-bg.selected {
  background: #F58CBA;
}
html body #talent-calculator #class-select #class-row .class-icon.priest-bg.selected {
  background: #D3DBE8;
}
html body #talent-calculator #class-select #class-row .class-icon.rogue-bg.selected {
  background: #F5EB5D;
}
html body #talent-calculator #class-select #class-row .class-icon.shaman-bg.selected {
  background: #0070DE;
}
html body #talent-calculator #class-select #class-row .class-icon.warlock-bg.selected {
  background: #9482C9;
}
html body #talent-calculator #class-select #class-row .class-icon.warrior-bg.selected {
  background: #C79C6E;
}
html body #talent-calculator #class-select #class-row .class-icon:before {
  transition: all .5s;
}
html body #talent-calculator #class-select #class-row .class-icon:after {
  transition: all .5s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
html body #talent-calculator #class-select #class-row .class-icon.druid-bg:after {
  background: #FF7D0A;
}
html body #talent-calculator #class-select #class-row .class-icon.hunter-bg:after {
  background: #ABD473;
}
html body #talent-calculator #class-select #class-row .class-icon.mage-bg:after {
  background: #69CCF0;
}
html body #talent-calculator #class-select #class-row .class-icon.paladin-bg:after {
  background: #F58CBA;
}
html body #talent-calculator #class-select #class-row .class-icon.priest-bg:after {
  background: #D3DBE8;
}
html body #talent-calculator #class-select #class-row .class-icon.rogue-bg:after {
  background: #F5EB5D;
}
html body #talent-calculator #class-select #class-row .class-icon.shaman-bg:after {
  background: #0070DE;
}
html body #talent-calculator #class-select #class-row .class-icon.warlock-bg:after {
  background: #9482C9;
}
html body #talent-calculator #class-select #class-row .class-icon.warrior-bg:after {
  background: #C79C6E;
}
html body #talent-calculator #class-select #class-row .class-icon:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
html body #talent-calculator #class-select #class-row .highlight-line {
  border-bottom: 5px solid;
}
html body #talent-calculator #class-select #class-row .highlight-line.deselected {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
html body #talent-calculator #class-select #class-row .highlight-line.selected {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
html body #talent-calculator #class-select #class-row .highlight-line.druid-bg {
  border-color: #a34d00;
}
html body #talent-calculator #class-select #class-row .highlight-line.hunter-bg {
  border-color: #7aac35;
}
html body #talent-calculator #class-select #class-row .highlight-line.mage-bg {
  border-color: #16a8dd;
}
html body #talent-calculator #class-select #class-row .highlight-line.paladin-bg {
  border-color: #ed2e82;
}
html body #talent-calculator #class-select #class-row .highlight-line.priest-bg {
  border-color: #90a4c5;
}
html body #talent-calculator #class-select #class-row .highlight-line.rogue-bg {
  border-color: #ded10e;
}
html body #talent-calculator #class-select #class-row .highlight-line.shaman-bg {
  border-color: #003d78;
}
html body #talent-calculator #class-select #class-row .highlight-line.warlock-bg {
  border-color: #5c45a0;
}
html body #talent-calculator #class-select #class-row .highlight-line.warrior-bg {
  border-color: #95693a;
}
html body #talent-calculator #talent-info #talent-info-container {
  margin-top: 20px;
}
html body #talent-calculator #talent-info .thin-header {
  margin-bottom: 10px;
}
html body #talent-calculator #talents-select #specifications {
  margin-top: 30px;
}
html body #talent-calculator #talents-select #specifications .specification-border:nth-child(odd) {
  margin-left: 5px;
  margin-right: 5px;
}
html body #talent-calculator #talents-select #specifications .specification-border {
  padding: 0;
  background-color: #333;
  height: 506px;
  border-radius: 3px;
}
html body #talent-calculator #talents-select #specifications .specification-border .specification-title {
  color: white;
  text-align: center;
}
html body #talent-calculator #talents-select #specifications .specification-border .specification-count {
  color: white;
  text-align: center;
}
html body #talent-calculator #talents-select #specifications .specification-border .specification-pane {
  background-repeat: no-repeat;
  background-size: 248px 448px;
  width: 248px;
  height: 448px;
}
html body #talent-calculator #talents-select #specifications .specification-border .specification-pane table {
  margin-top: 5px;
  text-align: center;
}
html body #talent-calculator #talents-select #specifications .specification-border .specification-pane table td {
  width: 62px;
  height: 62px;
}
html body #talent-calculator #talents-select #specifications .specification-border .specification-pane table td div.talent-icon-border {
  width: 46px;
  height: 46px;
  background: #333;
  border: 1px #17FD17 solid;
  border-radius: 4px;
  margin: 0 auto;
}
html body #talent-calculator #talents-select #specifications .specification-border .specification-pane table td div.talent-icon-border.inactive {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border: 1px #333 solid;
}
html body #talent-calculator #talents-select #specifications .specification-border .specification-pane table td div.talent-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: 40px !important;
  margin: 2px 0px 0px 2px;
  border-radius: 4px;
  -webkit-filter: inherit;
  filter: inherit;
}
html body #talent-calculator #talents-select #specifications .specification-border .specification-pane table td div.talent-rank-no {
  display: none;
  color: #17FD17;
  z-index: 10;
  position: relative;
  left: 35px;
  top: 35px;
  background: #333;
  height: 17px;
  width: 14px;
  border-radius: 4px;
  font-family: Verdana, sans-serif;
  font-size: 10px;
  line-height: 15px;
  border: 1px #987C08 solid;
}
html body #talent-calculator #talents-select #specifications .specification-border .specification-pane table td .is-maxed {
  color: #e7ba00 !important;
  border: 1px #e7ba00 solid !important;
}
html body #talent-calculator #talents-select #talent-tooltip.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
html body #talent-calculator #talents-select #talent-tooltip.fade-in {
  visibility: visible;
  opacity: 0.9;
  transition: visibility 0s linear 0s, opacity 300ms;
}
html body #talent-calculator #talents-select #talent-tooltip {
  position: absolute;
  z-index: 100;
  width: 320px;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: white;
  background: black;
  opacity: 0.9;
  border-radius: 4px;
  border: 1px white solid;
  padding: 5px;
}
html body #talent-calculator #talents-select #talent-tooltip .yellow-detail {
  color: #FFD100;
  line-height: 16px;
}
html body #talent-calculator #talents-select #talent-tooltip .title-row {
  font-size: 15px;
}
html body #talent-calculator #talents-select #talent-tooltip .next-rank-text {
  margin-top: 20px;
}
html body #talent-calculator #talents-select #talent-tooltip .rank-instruction.can-learn {
  color: #17FD17;
}
html body #talent-calculator #talents-select #talent-tooltip .rank-instruction.can-unlearn {
  color: #FF4040;
}
html body #talent-calculator #talents-select #talent-tooltip .rank-requirements {
  color: #FF4040;
}
html body .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
}
