
@{
    ViewData["Title"] = "Talent Calculator";
}

<div id="talent-calculator" ng-app="talentCalculatorApp" ng-controller="talentCalculatorController">

    <section id="class-select">
        <div id="class-row" class="bg-light row no-gutters">
            <div class="col-4 col-md class-icon" ng-repeat="c in classes" ng-click="fetchSpecifications(c.className)"
                 ng-class="[(c.className | lowercase)  + '-bg', {'selected' : c.isSelected} ]">
                <img ng-src="{{ c.iconFilePath }}" />
                <div class="highlight-line" ng-class="[(c.className | lowercase)  + '-bg', c.isSelected ? 'selected' : 'deselected']"></div>
            </div>
        </div>
    </section>

    <div class="container-fluid">

        <section id="talent-info">
            <div id="talent-info-container">
                <div class="row justify-content-center">
                    <div id="class-title" class="col-lg-3 text-center">
                        <h1 class="display-4">{{ selectedClass.className }}</h1>
                    </div>
                    <div class="col-lg-3 text-center">
                        <h4 class="thin-text">
                            Available Points
                        </h4>
                        <div class="">
                            <strong>{{ availablePoints }}</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <h4 class="thin-text">
                            Required Level
                        </h4>
                        <div class="">
                            <strong>{{ requiredLevel > 9 ? requiredLevel : '-'}}</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <h1 class="display-4">{{ totalPointsPerSpec[0] + ' / ' + totalPointsPerSpec[1] + ' / ' +  totalPointsPerSpec[2] }}</h1>
                    </div>
                </div>
            </div>
        </section>

        <section id="talents-select">
            <div id="specifications" class="row justify-content-center">

                <div class="specification-container col-lg-3 col-md-8 d-flex justify-content-center" ng-repeat="s in selectedClass.specifications | orderBy:'+index'">
                    <div class="specification-border">
                        <div class="specification-title thin-text">{{ s.specName }}</div>
                        <div class="specification-count"><strong>{{ totalPointsPerSpec[s.index] }}</strong></div>
                        <div class="specification-pane" ng-style="{'background-image': 'url(' + s.backgroundImage + ')'}">
                            <table>
                                <tr ng-repeat="talents in s.talentRows">
                                    <td ng-repeat="i in [0, 1, 2, 3]">
                                        <talent-icon talent="{{ getTalentByColIndex(i, $parent.talents) }}"></talent-icon>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="specification-icon">
                            <img ng-src="{{ s.specificationIcon }}" ng-class="(selectedClass.className | lowercase)  + '-border'" />
                        </div>
                        <div class="specification-reset">
                            <button type="button" class="btn btn-link text-muted" ng-click="resetSpecificationTree(s.index)">Reset</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-5 text-center">
                    <button type="button" class="btn btn-success w-75">Save &amp; Share</button>
                    <button type="button" class="btn btn-light w-75 mt-2" ng-click="resetAllTalents()">Reset All Points</button>
                </div>

                <div id="talent-tooltip" ng-class="isInspectingTalent ? 'fade-in' : 'fade-out'" ng-style="talentTooltipPos">
                    <div class="title-row">
                        {{ inspectedTalent.name }}
                    </div>
                    <div class="rank-no-row">
                        Rank {{ inspectedTalent.selectedRankNo }}/{{ inspectedTalent.totalRankNo }}
                    </div>
                    <div class="rank-requirements" ng-show="inspectedTalent.requirementsText.length > 0"
                         ng-bind-html="inspectedTalent.requirementsText">
                    </div>
                    <div class="selected-rank-text yellow-detail" ng-bind-html="inspectedTalent.selectedRankText">
                    </div>
                    <div class="next-rank-text" ng-hide="inspectedTalent.selectedRankNo == 0 || inspectedTalent.isMaxRank">
                        <div>Next Rank:</div>
                        <div class="yellow-detail">{{ inspectedTalent.nextRankText }}</div>
                    </div>
                    <div class="rank-instruction" ng-show="inspectedTalent.instructionText.length > 0"
                         ng-class="inspectedTalent.isMaxRank ? 'can-unlearn' : 'can-learn'">
                        {{ inspectedTalent.instructionText }}
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/libs/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/js/talentCalculatorViewModels.js"></script>
        <script src="~/js/talentCalculatorModule.js"></script>
        <script src="~/js/talentCalculatorFactory.js"></script>
        <script src="~/js/talentCalculatorDirectives.js"></script>
        <script src="~/js/talentCalculatorController.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/libs/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="~/js/talentCalculatorViewModels.js"></script>
        <script src="~/js/talentCalculatorModule.js"></script>
        <script src="~/js/talentCalculatorFactory.js"></script>
        <script src="~/js/talentCalculatorDirectives.js"></script>
        <script src="~/js/talentCalculatorController.js"></script>
    </environment>
}