
@{
    ViewData["Title"] = "Talent Calculator";
}

<div id="talent-calculator" class="container" ng-app="talentCalculatorApp">
    <div ng-controller="talentController">
        <section id="class-select">
            <div id="class-row" class="row">
                <div class="col-md-12">
                    <div class="class-icon" ng-repeat="c in classes" ng-click="fetchSpecifications(c.id)">
                        <img ng-src="{{ c.iconSrc }}" />
                        <div ng-show="c.isSelected" class="highlight-line"></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="talents-select">
            <div id="specifications">
                <div id="spec-container">
                    <div id="spec-inner">
                        <div class="specification-pane" ng-repeat="s in selectedClass.specifications | orderBy:'+index'"
                             ng-style="{'background-image': 'url(' + s.bgImage + ')'}">
                            <specification-table spec-index="{{ s.index }}"></specification-table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script src="~/js/talentVm.js"></script>
    <script src="~/js/talentModule.js"></script>
    <script src="~/js/talentFactory.js"></script>
    <script src="~/js/talentController.js"></script>
    <script src="~/js/talentDirectives.js"></script>
}